html {
    background-color: white;
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
    margin: 3em 0 1em;
}

p,ul,ol {
    margin-bottom: 2em;
    color: black;
    font-family: sans-serif;
  }

header {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 24px;
    color: black;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


div#content {
    padding-left: 30px;
    padding-right: 30px;
}

ul {
    margin-bottom: 2em;
    color: black;
    margin: 0;
}

li {
    line-height: 200%;
}

li a {
    text-decoration: none;
    padding-right: 5px;;
    color: #3C46A6;
    font-size: large;
    font-weight: bold;
}

footer {
    padding: 20px;
    text-align: center;
}

footer a {
    padding-left: 5px;
    padding-right: 5px;
}

article h2 {
    margin-top: 0;
}
